html,
body {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
a {
	color: #010101;
	text-decoration: none;
	outline: none;
}
a:hover,
a:focus,
a:active {
	color: #a5f;
}
#player .ytp-cued-thumbnail-overlay-image {
	background-size: contain !important;
}
body {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	font-family: "Roboto";
}
h2,
h3 {
	font-family: "Poppins";
}
.page-1 {
	display: block;
}
.banner {
	min-width: 96%;
	min-height: 100px;
	height: 3.5rem;
	margin: 2% 2%;
	background: linear-gradient(
			216deg,
			rgba(77, 77, 77, 0.05) 0%,
			rgba(77, 77, 77, 0.05) 25%,
			rgba(42, 42, 42, 0.05) 25%,
			rgba(42, 42, 42, 0.05) 38%,
			rgba(223, 223, 223, 0.05) 38%,
			rgba(223, 223, 223, 0.05) 75%,
			rgba(36, 36, 36, 0.05) 75%,
			rgba(36, 36, 36, 0.05) 100%
		),
		linear-gradient(
			44deg,
			rgba(128, 128, 128, 0.05) 0%,
			rgba(128, 128, 128, 0.05) 34%,
			rgba(212, 212, 212, 0.05) 34%,
			rgba(212, 212, 212, 0.05) 57%,
			rgba(25, 25, 25, 0.05) 57%,
			rgba(25, 25, 25, 0.05) 89%,
			rgba(135, 135, 135, 0.05) 89%,
			rgba(135, 135, 135, 0.05) 100%
		),
		linear-gradient(
			241deg,
			rgba(55, 55, 55, 0.05) 0%,
			rgba(55, 55, 55, 0.05) 14%,
			rgba(209, 209, 209, 0.05) 14%,
			rgba(209, 209, 209, 0.05) 60%,
			rgba(245, 245, 245, 0.05) 60%,
			rgba(245, 245, 245, 0.05) 69%,
			rgba(164, 164, 164, 0.05) 69%,
			rgba(164, 164, 164, 0.05) 100%
		),
		linear-gradient(
			249deg,
			rgba(248, 248, 248, 0.05) 0%,
			rgba(248, 248, 248, 0.05) 32%,
			rgba(148, 148, 148, 0.05) 32%,
			rgba(148, 148, 148, 0.05) 35%,
			rgba(202, 202, 202, 0.05) 35%,
			rgba(202, 202, 202, 0.05) 51%,
			rgba(181, 181, 181, 0.05) 51%,
			rgba(181, 181, 181, 0.05) 100%
		),
		linear-gradient(92deg, rgb(28, 28, 28), rgb(28, 28, 28));
	background-repeat: no-repeat;
	background-position: left;
	border-radius: 1rem;
	border: 0.5px solid rgba(25, 25, 25, 0.2);
}
.nav {
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 55px;
	background-color: #fefeff;
	z-index: 5;
	justify-content: space-around;
	align-items: center;
	font-size: 1.2em;
	font-weight: 600px;
}
.nav-icons:hover {
	color: #a5f;
}
.card-slider,
.blockbuster {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 5% 0;
	overflow: scroll;
}
.card-slider h2,
.blockbuster h2 {
	margin: 5% 0 5% 2.5vw;
}
.slide-wrap {
	height: 46vh;
	min-height: 250px;
	max-height: 300px;
	overflow-x: scroll;
	margin-right: 2vw;
}
.card-slide {
	width: 100%;
	margin-top: 1vh;
	height: 38vh;
	max-height: 100%;
	min-height: 240px;
	white-space: nowrap;
	display: flex;
}

.card {
	min-width: 180px;
	width: 45vw;
	max-width: 200px;
	height: 100%;
	background: rgba(120, 120, 250, 0.8);
	margin: 0 2.5vw;
	border-radius: 5px;
	background: radial-gradient(
		circle at right top,
		rgb(36, 9, 119) 0%,
		rgb(36, 9, 119) 48%,
		rgb(72, 7, 149) 48%,
		rgb(72, 7, 149) 53%,
		rgb(109, 5, 178) 53%,
		rgb(109, 5, 178) 56%,
		rgb(145, 2, 208) 56%,
		rgb(145, 2, 208) 69%,
		rgb(181, 0, 237) 69%,
		rgb(181, 0, 237) 100%
	);
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 15px rgba(72, 7, 149, 0.5);
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	overflow: hidden;
}
.card-info {
	width: 100%;
	height: 25%;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0.1px 10px #012110;
	background-color: rgba(50, 50, 50, 0.5);
	backdrop-filter: (50px);
	white-space: wrap;
}
.card-info > h4,
p {
	margin-left: 5%;
	margin-bottom: 2%;
	color: #eef;
}
.card-info h4 {
	margin-top: 2%;
}

/* videos player section */
.video-display {
	width: 100vw;
	height: 70vmax;
	min-height: 350px;
	margin: 2% 0;
}
.video-display > h2 {
	margin: 5% 0 5% 2.5vw;
}
.video-display-inner-wrap {
	width: 100%;
	display: flex;
	height: 60vmax;
	min-width: 90%;
	box-shadow: 4px 4px 20px rgba(72, 7, 159, 0.4);
	position: relative;
}
.display-showcase {
	height: 60vmax;
	width: 63vw;
	min-height: 90%;
}
.display-showcase > iframe {
	width: 100%;
	height: 100%;
	border: none;
}
.display-vertical-slide-wrap {
	height: 100%;
	overflow-y: auto;
	width: 37vw;
}
.display-vertical-slide {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: #f8f8ff;
	box-shadow: inset 2px 0 10px rgba(20, 20, 20, 0.3);
	padding-bottom: 10px;
}
.vertical-items {
	width: 80%;
	height: 26vw;
	background: url("https://i.ibb.co/92K5wYG/anime-anime-girls-rem-re-zero-re-zero-wallpaper-thumb.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 2vh;
	border-radius: 5px;
	box-shadow: 0 0 5px #202020;
	display: grid;
	place-items: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.bi-play-btn-fill {
	font-size: 2.1em;
	border-radius: 50px;
	opacity: 0.7;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}
.vertical-items::nth-child(1) {
	margin-top: 0.2vh;
}
#blockbuster-slide {
	display: flex;
	justify-content: space-between;
}
.multi_card {
	position: relative;
	display: block;
	margin: 0 28vw;
}
.multi_card:nth-child(1) {
	margin-left: 0;
}
.multi_card .card {
	position: absolute;
	margin-left: 10vw;
	box-shadow: 0 1px 15px rgba(72, 7, 149, 0.3);
}

.multi_card .card:nth-child(1) {
	left: -28px;
}
.multi_card .card:nth-child(2) {
	left: -18px;
}
.multi_card .card:nth-child(3) {
	left: -8px;
}
.multi_card .card:nth-child(4) {
	left: 0px;
}

.artist_card {
	min-width: 150px;
	min-height: 150px;
	max-height: 180px;
	max-width: 180px;
	width: 45vw;
	height: 45vw;
	margin: 3.5vh 2.5vw;
	border-radius: 50%;
	background: radial-gradient(
		circle at right top,
		rgb(36, 9, 119) 0%,
		rgb(36, 9, 119) 48%,
		rgb(72, 7, 149) 48%,
		rgb(72, 7, 149) 53%,
		rgb(109, 5, 178) 53%,
		rgb(109, 5, 178) 56%,
		rgb(145, 2, 208) 56%,
		rgb(145, 2, 208) 69%,
		rgb(181, 0, 237) 69%,
		rgb(181, 0, 237) 100%
	);
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 20px rgba(72, 7, 349, 0.5);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.artist-slide-wrap {
	height: 55vmax;
	min-height: 210px;
	margin-right: 2vw;
}
.artist-slide {
	height: 50vmax;
	min-height: 200px;
}
.artist-card-wrap {
	width: 46vw;
	height: 100%;
	margin: 0 2.5vw;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	word-wrap: wrap;
}
.artist-name {
	font-family: "Roboto";
}
.page-2 {
	width: 100%;
	min-height: 100vh;
	flex-flow: column wrap;
	position: absolute;
	top: 0;
	margin-top: 10px;
	padding-bottom: 10vmax;
}
.search-feild-wrap {
	width: 100%;
	display: flex;
}
.search-feild {
	width: 80vw;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #999;
	border-radius: 5px;
	margin-left: 10vw;
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.page-2 span input {
	outline: none;
	width: 70vw;
	height: 100%;
	border: none;
	font-weight: 600;
	font-size: 1em;
	font-family: "Roboto";
}
.search-feild input[placeholder] {
	font-weight: 600;
	font-size: 1em;
	font-family: "Roboto";
}
.search-result-wrap {
	display: flex;
	flex-flow: column wrap;
	width: 100vw;
}
.search-result {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	border-bottom: 0.5px solid #999;
	padding: 5px 0;
}
.search-result:nth-child(1) {
	margin-top: 2.5vh;
	border-top: 0.5px solid #999;
}
.search-result img {
	width: 60px;
	max-width: 100px;
	max-height: 100px;
	height: 60px;
	margin: 1.5% 5vw;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.search-result-text {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}

.page-3 {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
}
.video-page {
	margin-top: 4px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-gap: 3px;
	padding-bottom: 10vmax;
}
.video-page-tiles {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 4px;
}
.video-page-tiles:nth-child(even) > .video-page-frame {
	width: 50vmax;
	height: 50vmax;
	grid-column: 2 / span 3;
	grid-row: 1 / span 2;
	border: none;
}
.video-page-frame {
	width: 50vmax;
	height: 50vmax;
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
	border: none;
	margin-right: 4px;
}
.video-page-img {
	align-self: stretch;
	justify-self: stretch;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("https://i.ibb.co/92K5wYG/anime-anime-girls-rem-re-zero-re-zero-wallpaper-thumb.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.video-page-img > .bi-play-btn-fill {
	opacity: 0.4;
}

.page-4 {
	background-color: #eee;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 12vmax;
}
.profile-backdrop {
	width: 100%;
	height: 35vh;
	min-height: 200px;
	background: linear-gradient(
			216deg,
			rgba(77, 77, 77, 0.05) 0%,
			rgba(77, 77, 77, 0.05) 25%,
			rgba(42, 42, 42, 0.05) 25%,
			rgba(42, 42, 42, 0.05) 38%,
			rgba(223, 223, 223, 0.05) 38%,
			rgba(223, 223, 223, 0.05) 75%,
			rgba(36, 36, 36, 0.05) 75%,
			rgba(36, 36, 36, 0.05) 100%
		),
		linear-gradient(
			44deg,
			rgba(128, 128, 128, 0.05) 0%,
			rgba(128, 128, 128, 0.05) 34%,
			rgba(212, 212, 212, 0.05) 34%,
			rgba(212, 212, 212, 0.05) 57%,
			rgba(25, 25, 25, 0.05) 57%,
			rgba(25, 25, 25, 0.05) 89%,
			rgba(135, 135, 135, 0.05) 89%,
			rgba(135, 135, 135, 0.05) 100%
		),
		linear-gradient(
			241deg,
			rgba(55, 55, 55, 0.05) 0%,
			rgba(55, 55, 55, 0.05) 14%,
			rgba(209, 209, 209, 0.05) 14%,
			rgba(209, 209, 209, 0.05) 60%,
			rgba(245, 245, 245, 0.05) 60%,
			rgba(245, 245, 245, 0.05) 69%,
			rgba(164, 164, 164, 0.05) 69%,
			rgba(164, 164, 164, 0.05) 100%
		),
		linear-gradient(
			249deg,
			rgba(248, 248, 248, 0.05) 0%,
			rgba(248, 248, 248, 0.05) 32%,
			rgba(148, 148, 148, 0.05) 32%,
			rgba(148, 148, 148, 0.05) 35%,
			rgba(202, 202, 202, 0.05) 35%,
			rgba(202, 202, 202, 0.05) 51%,
			rgba(181, 181, 181, 0.05) 51%,
			rgba(181, 181, 181, 0.05) 100%
		),
		linear-gradient(92deg, rgb(28, 28, 28), rgb(28, 28, 28));
	background-repeat: no-repeat;
	background-position: left;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.profile-pic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #eee;
	position: absolute;
	left: calc(50vw - 50px);
	bottom: -20%;
}
.profile-backdrop > i {
	margin: 3px;
	color: #aaa;
}
.page-4 h3 {
	width: 100%;
	text-align: center;
	margin: 50px 0 20px 0;
}
.profile-sections {
	width: 95%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	padding-top: 10px;
	border-radius: 5px;
	background-color: white;
	color: #010101;
	margin: 0 2.5%;
}
.profile-span {
	display: inline-flex;
	justify-content: space-between;
}
.profile-span h4 {
	display: flex;
	width: 40%;
	justify-content: flex-start;
}
.profile-span h4 i {
	margin: 0 2% 0 4%;
}
.profile-span p {
	color: #010101 !important;
	width: 15%;
}
.player-body {
	position: fixed;
	width: 100vw;
	height: 102vh;
	display: block;
	flex-flow: column;
	align-items: center;
	background-color: #fbfffa;
	z-index: 5;
	top: -3vh;
	border-radius: 30px 30px 0 0;
	transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	-webkit-transition: ;
	-moz-transition: ;
	-ms-transition: ;
	-o-transition: ;
	padding-bottom: 10vh;
	transform: translateY(0vh);
	-webkit-transform: translateY(0vh);
	-moz-transform: translateY(0vh);
	-ms-transform: translateY(0vh);
	-o-transform: translateY(0vh);
	-webkit-border-radius: 30px 30px 0 0;
	-moz-border-radius: 30px 30px 0 0;
	-ms-border-radius: 30px 30px 0 0;
	-o-border-radius: 30px 30px 0 0;
}
.bi-chevron-down {
	position: absolute;
	top: calc(3vh + 20px);
	right: 20px;
	font-size: 1.5rem;
	opacity: 1;
	transition: opacity 1.4s linear;
	-webkit-transition: opacity 1.4s linear;
	-moz-transition: opacity 1.4s linear;
	-ms-transition: opacity 1.4s linear;
	-o-transition: opacity 1.4s linear;
}
.album-art-section {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: deepskyblue;
	border-radius: 30px 30px 20px 20px;
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
}
.album-art {
	width: 150px;
	height: 150px;
	z-index: 3;
	border-radius: 50%;
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
}
#effects {
	position: absolute;
	display: grid;
	place-items: center;
	z-index: 2;
}
.player-controls {
	height: 40%;
	width: 100%;
}

.player-song-info {
	width: 90%;
	padding: 0 5%;
	margin-top: 4px;
	margin-bottom: -2px;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.player-song-info > p {
	color: #010101;
}
#music-scrollbar,
#volume-scrollbar {
	width: 95%;
	margin: 0 2.5%;
	-webkit-appearance: none;
}
input::-webkit-slider-thumb,
input::-moz-range-thumb {
	border-radius: 50%;
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
	width: 0.5rem;
	height: 0.5rem;
	border: 1px solid #010101;
	background-color: #aaa;
}
input::-moz-range-progress,
input::-webkit-slider-runnable-track,
input::-ms-track {
	height: 2vh;
	background-color: transparent;
	width: 100%;
}
input::-moz-range-track {
	width: 100%;
	height: 0.2rem;
	background-color: deepskyblue;
}
#volume-scrollbar {
	margin: 2.1% 2.5%;
	margin-bottom: 0;
	background-color: transparent;
	visibility: hidden;
}
.main-controls {
	width: 70%;
	margin: 4px 15%;
	height: 5vh;
	display: flex;
	font-size: 2rem;
	font-weight: 700;
	justify-content: space-around;
	align-items: center;
}
.play-wrap {
	width: 3rem;
	height: 100%;
	align-self: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: -8px;
	margin-left: 2px;
	padding: 0 2rem;
}
.bi-play-fill {
	font-size: 4rem;
	margin: 0.5rem 0;
	transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-ms-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
}
.bi-pause-fill {
	font-size: 4rem;
	margin: 0.5rem 0;
}
.rotate-play {
	width: 0.5rem;
	height: 1.7rem;
	background: #101010;
	border-radius: 4px;
	transform: translate(-0.35rem, 0.35rem);
	position: relative;
	-webkit-transform: translate(-0.35rem, 0.35rem);
	-moz-transform: translate(-0.35rem, 0.35rem);
	-ms-transform: translate(-0.35rem, 0.35rem);
	-o-transform: translate(-0.35rem, 0.35rem);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.rotate-play::after {
	content: "";
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	background: #101010;
	margin-left: 0.7rem;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
}
.bi-shuffle,
.bi-arrow-repeat {
	font-size: 1.4rem;
	padding: 0 3.5rem;
}
.main-controls {
}

.extra {
	width: 90%;
	padding: 0 5%;
	font-size: 20px;
	max-height: 4vh;
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
}
canvas {
	display: grid;
	place-items: center;
}
